/* nav start */
.nav {
  margin: 3rem 0 9rem 0;
}

.nav .nav_menu {
  display: flex;
  align-items: center;
}
.nav .nav_menu .nav_menu-bar li {
  margin: 0 0 0 3rem;
}
.nav .nav_menu .nav_menu-bar li a {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  text-decoration: none;
  display: flex;
  align-items: center;
  text-align: center;
  color: #07043b;
}
/* nav end */

/* section start */
.Hero .Hero_content h1 {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 60px;
  /* or 150% */
  color: #07043b;
}
.Text1 {
  margin-top: 4rem;
}
.Hero .Hero_content p {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 24px;
  /* or 141% */

  letter-spacing: 0.53125px;
  padding-top: 1rem;

  color: #07043b;
}

.inp {
  border: 0.625px solid #07043b;
  box-shadow: 2px 3px 6px rgba(0, 0, 0, 0.15925);
  border-radius: 3.125px;
  padding: 1rem 7rem 1rem 1rem;
  outline: none;

  margin-top: 25px;
}
.btn {
  background: #2f65f8;
  box-shadow: 2px 3px 6px rgba(0, 0, 0, 0.15925);
  border-radius: 3.125px;
  height: 45px;
  width: 200px;
  color: white;
  margin-top: 25px;
  border: transparent;
  margin-left: 12px;
  cursor: pointer;
}

/* section end */

/* productive start */

.productive .productive-backgroud {
  background-image: url("../img/rectangle\ background.png");
  background-repeat: no-repeat;
  background-position: top;
  /* background-size: cover; */
  box-sizing: border-box;
  margin-top: 108px;
  padding: 12rem 0 0 0;

  min-height: 855.37px;
}

.productive-backgroud .productive-content h2 {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 47px;
  /* identical to box height */
  color: #07043b;
}

.productive-backgroud .productive-content p {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  /* or 150% */
  color: #07043b;
}
.text2 {
  margin-top: 2rem;
  margin-bottom: 1rem;
}

.productive-backgroud .productive-content .productive-btns {
  margin-top: 1rem;
  margin-bottom: 3rem;
}

.productive-backgroud .productive-content a {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  /* identical to box height */
  color: #3da08f;
  text-decoration: none;
}

.productive-backgroud .productive-content .productive-btns i {
  color: #3da08f;
  font-size: 10px;
}

.letter {
  width: 356px;
  height: 215px;
  background: #ffffff;
  box-shadow: 0px 0px 10px 5px rgba(56, 56, 56, 0.0458843);
  border-radius: 5px;
  float: left;
}

.productive-content .letter {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0.5rem 2rem 0 2rem;
  box-sizing: border-box;
}

.productive-content .letter p {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 23px;
  /* or 177% */
  letter-spacing: 0.5px;
  color: #07043b;
}

.user {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 1rem;
  margin-top: 1rem;
}

.letter .user .user-content h3 {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 11px;
  line-height: 15px;
  /* identical to box height */
  letter-spacing: 0.55px;
  color: #07043b;
}

.letter .user .user-content p {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 8px;
  line-height: 15px;
  /* identical to box height, or 188% */

  letter-spacing: 0.4px;

  color: #07043b;
}
/* productive end */

/* footer start */
.footer .cta {
  background-image: url("../img/ctabackground.png");
  background-repeat: no-repeat;

  min-height: 369.71px;
  background-position: center;
  padding-top: 8rem;
  box-sizing: border-box;
}

.footer .cta .footer-cta-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.footer .cta .footer-cta-content h2 {
  font-family: "Raleway", sans-sarif;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 48px;
  color: #ffffff;
}
.footer .cta .footer-cta-content p {
  font-family: "Raleway", sans-sarif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.5px;
  color: #ffffff;
  margin-top: 5px;
}
.footer .cta .footer-cta-btns {
  display: flex;
  flex-direction: column;
}
.footer .cta .footer-cta-btns input {
  border-radius: 3.125px;
  background: #ffffff;
  width: 480px;
  height: 48px;
  margin-top: 1rem;
  box-shadow: 2px 3px 6px rgba(7, 4, 59, 0.157043);
  border: none;
  outline: none;
  padding-left: 1rem;
}
.footer .cta .footer-cta-btns button {
  border: 2px solid #2f65f8;
  background: #2f65f8;
  box-shadow: 2px 3px 6px rgba(7, 4, 59, 0.157043);
  border-radius: 3.125px;
  width: 200px;
  height: 48px;
  margin-top: 1rem;

  font-family: "Raleway", sans-sarif;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  color: #ffffff;
  cursor: pointer;
}

/* footer end */

.sector-footer {
  background-image: url("../img/footerbackground.png");
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  min-height: 390px;
}

.footer-content {
  padding-top: 80px;
  display: flex;
  flex-direction: column;
}

.contact .phone {
  display: flex;
  flex-direction: column;
}

.footer-menu i {
  color: #ffffff;
}
.footer-menu a {
  text-decoration: none;
  color: white;
}

.contact {
  display: flex;
  justify-content: space-between;
}

.footer-menu .contact a {
  font-weight: 400;
  font-size: 16px;
  font-style: normal;
  line-height: 24px;
}
.footer-menu ul li{
  margin-bottom: 1rem;
}

.footer-menu ul li a {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;

  color: #ffffff;
}

.footer-menu .social-networks {
  gap: 1rem;
  display: flex;
}
.footer-menu .social-networks a i {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 31px;
  height: 31px;
  border: 0.918357px solid #dfe4f0;
  border-radius: 50%;
}
